<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Montserrat&display=swap" rel="stylesheet">
</head>
<body style="background-color:#fcfcfc; font-family: 'Inconsolata', Monaco, monospace">

<div class="allofit" style="display:flex; margin-left:auto; margin-right:auto; width:916px; margin-bottom:50px;">
    <div class="container" style="height:60px; width:100%;">
        <div class="banner" style="height:60px; width:100%;">
            <span style="float:left; padding:25px;">Schulze - Finances</span>
        </div>
        <div class="content" style="margin-top:25px; padding:15px; border-style:solid; border-color:midnightblue; height:116px;">
          {{#items}}
            <div style="width:100%">
                <span style="width:40%;">{{institutionName}}</span>
            </div><br>
            {{/items}}
        </div>           

        <button style="margin-top:25px; padding:15px; border-style:solid; border-color:midnightblue; height:40px; width:110px; cursor: pointer;" id="link-button">Link Account</button>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
        <script src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
        <script type="text/javascript">
        (function($) {
        var handler = Plaid.create({
            clientName: 'Schulze - Finances',
            countryCodes: ['US'],
            env: 'development',
            key: '4b37fd30ff2241ea6260cb0abde13c',
            product: ['transactions'],
            webhook: 'https://requestb.in',
            language: 'en',
            onLoad: function() {
            // Optional, called when Link loads
            },
            onSuccess: function(public_token, metadata) {
            // Send the public_token to your app server.
            // The metadata object contains info about the institution the
            // user selected and the account ID or IDs, if the
            // Select Account view is enabled.
                $.post('/dev/access_token', {
                    public_token: public_token,
                    metadata: metadata
                });
            },
            onExit: function(err, metadata) {
            // The user exited the Link flow.
            if (err != null) {
                // The user encountered a Plaid API error prior to exiting.
            }
            // metadata contains information about the institution
            // that the user selected and the most recent API request IDs.
            // Storing this information can be helpful for support.
            },
            onEvent: function(eventName, metadata) {
            // Optionally capture Link flow events, streamed through
            // this callback as your users connect an Item to Plaid.
            // For example:
            // eventName = "TRANSITION_VIEW"
            // metadata  = {
            //   link_session_id: "123-abc",
            //   mfa_type:        "questions",
            //   timestamp:       "2017-09-14T14:42:19.350Z",
            //   view_name:       "MFA",
            // }
            }
        });

        $('#link-button').on('click', function(e) {
            handler.open();
        });
        })(jQuery);
        </script>


        <div class="content" style="margin-top:25px; padding:15px; height:116px;">
         </div>
    </div>
</div>
</body>
</html>